page-home {
  ion-content {
    opacity: 0;
    z-index: 100;
    transition: all 500ms;
    transition-delay: 500ms;
  }

  .loader-container {
    opacity: 1;
    transition: opacity 500ms;
    position: fixed;
    z-index: 60;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    ion-spinner{
      transform: scale(2);
      circle{
        fill: $BLUE;
      }
    }
  }

  ion-content.loaded {
    opacity: 1;
  }

  .loader-container.loaded {
    opacity: 0;
  }

  ion-list {
    margin-top: 110px !important;
    animation-fill-mode: forwards;
  	animation-name: listanim;
  	animation-duration: 1500ms;
  }

  @keyframes listanim {
    0% { transform: translateY(50%); opacity: 0; }
    100% { transform: translateY(0%); opacity: 1; }
  }


  .article {
    margin-right: 30px;
    margin-bottom: 50px;
    position: relative;

    .shadow {
      position: absolute;
      z-index: -1;
      top: 20px;
      bottom: -30px;
      left: 40px;
      right: -6px;
      background: $LIGHTGRAY;

    }

    .container {
      padding: 10px 50px 30px 0px;
      text-align: right;
      background: $WHITE;

      h2 {
        margin: 10px 0px 20px 0px;
        padding: 0px 0px 0px 0px;
        font-weight: $FONTMEDIUM;
        font-size: 17px;
        line-height: 100%;
        color: $BLACK;
        text-transform: uppercase;
      }

      p {
        margin: 14px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
        font-weight: $FONTMEDIUM;
        font-size: 15px;
        line-height: 120%;
        color: $MIDGRAY;
      }

      .image {
        background-color: $WANGRAY;
        width: 100%;
        padding-top: 63.9%;
        position: relative;

        .loader {
          opacity: 0.2;
          position: absolute;
          z-index: 50;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;


        }

        img {
          position: absolute;
          z-index: 100;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0 !important;
          animation-fill-mode: forwards;
          animation-name: imganim;
        	animation-duration: 1000ms;
          animation-delay: 500ms;
        }

        @keyframes imganim {
        	0% { opacity: 0; filter: blur(5px); }
          50% { opacity: 1; filter: blur(5px); }
        	100% { opacity: 1; filter: blur(0px); }
        }

      }
    }
  }
}


ion-content {
  .article {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1000ms;
  }

  $delay: 500ms;
  $seq: 200ms;
  .article:nth-child(1) { transition-delay: $delay + (1 * $seq); }
  .article:nth-child(2) { transition-delay: $delay + (2 * $seq); }
  .article:nth-child(3) { transition-delay: $delay + (3 * $seq); }
  .article:nth-child(4) { transition-delay: $delay + (4 * $seq); }
  .article:nth-child(5) { transition-delay: $delay + (5 * $seq); }
  .article:nth-child(6) { transition-delay: $delay + (6 * $seq); }
  .article:nth-child(7) { transition-delay: $delay + (7 * $seq); }
  .article:nth-child(8) { transition-delay: $delay + (8 * $seq); }
}

ion-content.loaded {
  .article {
    opacity: 1;
    transform: translateX(0%);
  }
}

ion-nav.settings {
  ion-content.loaded {
    .article {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

ion-nav.homepage {
  ion-content.loaded {
    .article {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
