<div class="loader-container {{ loadstate }}">
   <ion-spinner item-start name="circles"></ion-spinner>
</div>

<ion-content class="{{ loadstate }}">

  <ion-list>
      <div class="article" *ngFor="let article of articles">
        <div class="shadow"></div>
        <div class="container">
          <h2>{{ article.title }}</h2>
          <div class="image">
            <div class="loader">
               <ion-spinner item-start name="circles"></ion-spinner>
            </div>
            <img src="{{ article.image }}" alt="">
          </div>
          <p>{{ article.excerpt }}</p>
        </div>

      </div>
  </ion-list>

</ion-content>
