page-settings {
  .wrapper {
    padding: 10px 30px 0px 30px;
    margin-top: 110px;
  }

  .box {
    margin-bottom: 14px;

    .container {
      padding: 20px 20px 30px 20px;
      background: $WHITE;
      box-shadow: -6px 24px 0px $LIGHTGRAY;

      .row {
        display: block;
        position: relative;
        padding: 5px 10px;
        margin: 20px 0px;

        font-weight: $FONTMEDIUM;
        font-size: 15px;
        line-height: 100%;
        color: $MIDGRAY;


        ion-icon {
          position: absolute;
          top: 5px;
          right: 10px;
          color: $BLACK;
        }

        ion-toggle {
          position: absolute;
          top: -7px;
          right: -10px;
          transform: scale(0.8);
          //width: 50px;
          //height: 20px;


        }

        .toggle-md .toggle-inner {
          box-shadow: none;
          top: 0px;
          width: 14px;
          height: 14px;
          background: $MIDGRAY;
        }

        .toggle-md.toggle-checked .toggle-inner {
            background-color: $PURPLE;
            transform: translate3d(21px, 0, 0);
        }

        .toggle-md.toggle-checked .toggle-icon {
            background-color: rgba(0,0,0,0);
        }

        .toggle-md.toggle-checked .toggle-icon:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 2px;
          right: 2px;
          height: 2px;
          background: $PURPLE;
        }

        .toggle-md .toggle-icon {
          background-color: rgba(0,0,0,0);
        }

        .toggle-md .toggle-icon:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 2px;
          right: 2px;
          height: 2px;
          background: $MIDGRAY;
        }
      }

      .row:active {
        color: $PURPLE;
      }
    }
  }
}
