<ion-content >
  <div class="wrapper">

      <div class="box">

        <div class="shadow"></div>
        <div class="container">

          <div class="row">
            <label>Twitter</label>
            <ion-toggle [(ngModel)]="settings.twitter" mode="md" (ionChange)="twitterChange(settings.twitter)"></ion-toggle>
          </div>

          <div class="row">
            <label>Facebook</label>
            <ion-toggle [(ngModel)]="settings.facebook" mode="md" (ionChange)="facebookChange(settings.facebook)"></ion-toggle>
          </div>

        </div>

      </div>


      <div class="box">

        <div class="shadow"></div>
        <div class="container">

          <a class="row">
            <label>Push notifications</label>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>

          <a class="row">
            <label>Email notifications</label>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>

          <a class="row">
            <label>Clear all cache</label>
          </a>

        </div>

      </div>

  </div>
</ion-content>
