<div class="app-bg {{ bgclass }} {{ loadstate }}">
  <div class="white"></div>
</div>

<div class="app-bg-over {{ bgclass }} {{ loadstate }}">
  <div class="blue"></div>
</div>

<ion-header class="{{ bgclass }}">
  <ion-navbar class="home-navbar">
    <button ion-button (click)="goToSettings()">
      <ion-icon name="md-menu" item-left></ion-icon>
    </button>
  </ion-navbar>

  <ion-navbar class="settings-navbar">
    <h1>Settings</h1>
    <button ion-button (click)="goToHome()">
      <ion-icon name="arrow-forward" item-left></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-nav [root]="rootPage" class="{{ bgclass }}">

</ion-nav>
