// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$FONT: 'Roboto', sans-serif;

$FONTBOLD: 500;
$FONTMEDIUM: 400;
$FONTREGULAR: 300;
$FONTLIGHT: 200;


$PURPLE: #7092DB;
$BLUE: #6ED0FC;
$WHITE: #FFFFFF;

$BLACK: #333333;
$MIDGRAY: #B4B4B4;
$LIGHTGRAY: #DDDDDD;
$WANGRAY: #F6F6F6;



ion-app {
  font-family: $FONT !important;
  font-weight: $FONTLIGHT;
}

ion-app, ion-nav, ion-tab, ion-tabs, .app-root{
  z-index: 50;
}

ion-content, .content-ios{
  background-color: rgba(255,0,0,0) !important;
}

.nav-decor{
  background-color: rgba(255,0,0,0) !important;
}

.app-bg {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $PURPLE;

  .white {
    width: 100px;
    height: 110px;
    background: $WHITE;
    border-radius: 100px;
    position: absolute;
    transform-origin: top right;
    transition: all 1000ms;
    top: -290px;
    right: -380px;
    transform: scale(11);

  }
}

.app-bg-over {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 200;
  display: block;
  width: 100%;
  animation: zindexanimateback 500ms forwards;


  .blue {
    width: 130px;
    height: 130px;
    background: $BLUE;
    border-radius: 100px;
    position: absolute;
    transform-origin: top right;
    transition: all 1000ms;
    top: -660px;
    right: 20%;
    transform: scale(5);
  }
}

.app-bg.loaded {
  .white {
    top: -20px;
    right: -20px;
  }
}

.app-bg-over.loaded {
  .blue {
    top: -570px;
    right: 20%;
  }
}

@keyframes zindexanimateback {
  0% {
    z-index: 40;
  }
  99% {
    z-index: 40;
  }
  100% {
    z-index: 200;
  }
}

.app-bg.settings {
  .white {
    top: -290px;
    right: -380px;
  }
}

.app-bg-over.settings {
  animation: zindexanimate 500ms forwards;
  .blue {
    top: -370px;
    right: 0%;
  }
}

@keyframes zindexanimate {
  0% {
    z-index: 200;
  }
  99% {
    z-index: 200;
  }
  100% {
    z-index: 40;
  }
}

.toolbar-background {
  border:none !important;
  background: none;
}

ion-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 300;
  button {
    background: none !important;
    box-shadow: none !important;
  }

  button:active, button:target {
    opacity: 0.5;
  }

  .home-navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: all 500ms;
    transition-delay: 500ms;
  }

  .settings-navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 500ms;
    transition-delay: 0ms;
  }

  .settings-navbar {
    padding: 50px 30px 0px 30px;
    h1 {
      float: left;
      margin: 17px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $WHITE;
    }

    button {
      float: right;
    }
  }
}

ion-header.settings {
  .home-navbar {
    opacity: 0;
    transform: translateY(-100%);
    transition-delay: 0ms;
  }

  .settings-navbar {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 500ms;
  }
}

ion-nav {
  page-home {
    opacity: 1 !important;
    transition: all 500ms;
    transition-delay: 500ms;
  }

  page-home[hidden] {
    display: block !important;
  }

  page-settings {
    opacity: 0 !important;
    animation-fill-mode: forwards;
    animation-name: pageanimback;
  	animation-duration: 500ms;
  }
}

@keyframes pageanimback {
	0% { opacity: 1; }
	100% { opacity: 0;}
}

ion-nav.settings {
  page-home {
    opacity: 0 !important;
    transition-delay: 0ms;
    animation-fill-mode: forwards;
  	animation-name: pagehideanim;
  	animation-duration: 500ms;
    animation-delay: 500ms;
    transform: translateX(100%);
  }

  page-settings {
    opacity: 0 !important;
    animation-fill-mode: forwards;
  	animation-name: pageanim;
  	animation-duration: 500ms;
    animation-delay: 500ms;
  }
}

@keyframes pagehideanim {
  0% {
    z-index: 100;

  }
  99% {
    z-index: 100;

  }
  100% {
    z-index: 40;

  }
}

@keyframes pageanim {
	0% { opacity: 0; }
	100% { opacity: 1;}
}
